.box {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-around;
    padding: 5%;
    margin: 2%;
    background-color: whitesmoke;
    margin-right: 5%;
    border-radius: 10px;
    text-decoration-style: none;
}

.image {
    display: block;
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.image img {
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}

.words {
    color: black;
    font-size: 18px;
    margin-bottom: 4%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 2%;
    text-decoration-style: none;
}

.link {
    color: darkblue;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 25%;
}

.reuseTitle {
    font-size: 40px;
    margin-left: 34.5%;
}