#contentContainer{
    background-color: #e6eae1;
    margin: auto;
    width: 90%;
}

.articleContainer {
    margin: 0px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 10px;
    padding: 5%;
    background-color: whitesmoke;
}

.reuseImage {
    display: none;
}

.reuseImage img {
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}

.reuseArticle {
    color: black;
    width: 100%;
}

.reuseLink {
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #50833c;
}

.reuseTitle {
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}

@media only screen and (min-width:480px) {
    #contentContainer{
        width:80%;
    }

    .reuseArticle{
        font-size: 20px;
        width: 70%;
        margin-left: 15px;
        text-align: left;
        margin: auto;
    }

    .reuseImage{
        display: flex;
        width: 100px;
    }

    .reuseLink{
        margin: 10px 0px 10px 0px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .reuseTitle{
        font-size: 40px;
    }

    .articleContainer{
        padding: 15px;
    }

    .reuseArticle{
        font-size: 25px;
    }

    .reuseLink{
        position: relative;
        top: 30px;
        margin-top: 0px;
        margin: auto;
        width: 20%;
        border-radius: 100%;
        padding: 5px;
    }
}