
<div class="carousel carousel-slider center">
        <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
        <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
        <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
</div>



<!-- <p>We are the super awesome people who made this website!!</p>
<div id="app">
        <button id="clearBtn">Clear canvas</button> 
                <canvas id="flower" width="1000" height="1000"></canvas>
</div> -->