<div id="team">
  <div id="btnContainer">
    <button id="view-all" (click)="viewAll()">{{message}}</button>
  </div>
  <div class="teammates">
    <img src="assets/img/jPlumb.jpeg" (click)="toggleJon()" >
    <div class="info" *ngIf="jonInfoShown">
      <p>Stuff about Jon</p>
      <p><a href="https://www.linkedin.com/in/jonathon-plumb/" class="fa fa-linkedin-square"></a></p>
    </div>   
  </div>

  <div class="teammates">
    <img src="assets/img/dLeasure.jpeg" (click)="toggleDave()">
    <div class="info" *ngIf="daveInfoShown">
      <p>Stuff about Dave</p>
      <p><a href="https://www.linkedin.com/in/dleasure/" class="fa fa-linkedin-square"></a></p>
    </div>
  </div>

  <div class="teammates">
    <img src="assets/img/jBillingslea.jpeg" (click)="toggleJess()">
    <div class="info" *ngIf="jessInfoShown">
      <p>Stuff about Jess</p>
      <p><a href="https://www.linkedin.com/in/jessica-billingslea/" class="fa fa-linkedin-square"></a></p>
    </div>
  </div>
</div>

<hr>
<div id="canvas">
  <p id="canvasIntro">Click the empty space below to grow a flower garden.</p>
  <div id="app">
      
      <canvas id="flower"></canvas>
      <button id="clearBtn">Clear canvas</button> 
  </div>
</div>