<div id="team">
        <button (click)="viewAll()">{{message}}</button>
        <div class="teammates">
                <img src="assets/img/jPlumb.jpeg" (click)="toggleJon()" >
                <div class="info" *ngIf="jonInfoShown">
                        <p>Stuff about Jon</p>
                        <p>LinkedIn: <a href="https://www.linkedin.com/in/jonathon-plumb/">Jonathon Plumb</a></p>
                </div>
                
        </div>
        <div class="teammates">
                <img src="assets/img/dLeasure.jpeg" (click)="toggleDave()">
                <div class="info" *ngIf="daveInfoShown">
                        <p>Stuff about Dave</p>
                        <p>LinkedIn: <a href="https://www.linkedin.com/in/dleasure/">David Leasure</a></p>
                </div>
        </div>
        <div class="teammates">
                <img src="assets/img/jBillingslea.jpeg" (click)="toggleJess()">
                <div class="info" *ngIf="jessInfoShown">
                        <p>Stuff about Jess</p>
                        <p>LinkedIn: <a href="https://www.linkedin.com/in/jessica-billingslea/">Jessica Billingslea</a></p>
                </div>
        </div>
        
        
</div>



<!-- <p>We are the super awesome people who made this website!!</p>
<div id="app">
        <button id="clearBtn">Clear canvas</button> 
                <canvas id="flower" width="1000" height="1000"></canvas>
</div> -->