.rotate {
    -ms-transform: rotate(120deg);
     -webkit-transform: rotate(120deg);
      transform: rotate(120deg);
   width:350px;
   height: 350px;
   z-index: 1;
 }
 
 .rotate1 {
    -ms-transform: rotate(240deg);
     -webkit-transform: rotate(240deg);
      transform: rotate(240deg);
   width:350px;
   height: 350px;
   padding-left: - 10px;
   z-index: 1;
 }
 
 .normal {
    -ms-transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   width: 350px;
   height: 350px;
   z-index: 1;
 }

 #image {
    transition: 1s;
     width: 350px;
     height: 350px;
     z-index: 1;
     position: absolute;
     margin-left: 2%;
 }


.spins {
   margin-left: 12%;
   margin-top: 20%;
   z-index: -1;
}

.treee {
   position: absolute;
   width: 250px;
   height: 300px;
   z-index: 2;
   margin-left: 27%;
   margin-top: -90px;
}

.Pic {
   position: absolute;
   z-index: 2;
   width: 100%;
}

#reduce {
   position: absolute;
   background-color: green;
   border-radius: 10px;
   width: 50%;
   height: 50px;
   z-index: -3;
   bottom: 20%;
   margin-left: 38%;
}

#reuse {
   position: absolute;
   background-color: green;
   border-radius: 10px;
   width: 50%;
   height: 50px;
   z-index: -4;
   bottom: 20%;
   margin-left: 38%;
}

#recycle {
   position: absolute;
   background-color: green;
   border-radius: 10px;
   width: 50%;
   height: 50px;
   z-index: -5;
   bottom: 20%;
   margin-left: 38%;
}

.left {
   position: absolute;
   background-color: green;
   border-radius: 10px;
   width: 20%;
   height: 60px;
   z-index: -5;
   bottom: 20%;
   margin-left: 6%;
   border-radius: 50px;
   font-size: 50px;
}

.right {
   position: absolute;
   background-color: green;
   border-radius: 10px;
   width: 20%;
   height: 60px;
   z-index: -5;
   bottom: 20%;
   margin-left: 95%;
   border-radius: 80px;
   font-size: 50px;
}

