<div class="page">
        <img src="assets/img/theTree.jpg" class="tree" />
        <div class="page">
                <div class="spins">
                        <img src="assets/img/SproutSymbol.png" alt="image" id="image"/>
                </div>
        </div>
        <div id="buttons">
                <button id="reduce" class="componentButton" routerLink="/reduce">reduce</button> 
                <button id="reuse" class="componentButton" routerLink="/reuse">reuse</button> 
                <button id="recycle" class="componentButton" routerLink="/recycle">recycle</button> 
        </div>
        <p id="activeFacts">
                {{ activeFacts }}
        </p>
        <p>
                <button >Learn more about {{ activeButton }}</button>
        </p>
</div>




