<p>recycle works!</p>

<input [(ngModel)]="ZIP" placeholder="enter zip code">


<button (click)="requestLatLonAndLocation()">Recycle</button>
<br />
Response: 
<div *ngIf="response">
    <ul>
        <li>
            Closest location: {{ responseDescription }}
        </li>
        <li>
            Distance from location: {{ responseDistance }}
        </li>
        <li>
            Address: {{ responseAddress }}
        </li>
        <li>
            Materials: <ul>
                <li *ngFor="let material of response">
                    {{material.description}}
                </li>
            </ul>
        </li>
    </ul>
    

</div>
