<p>recycle works!</p>

<input [(ngModel)]="ZIP">


<button (click)="requestLatLonAndLocation()">Lat Lon and Location</button>
<br />

<div *ngIf="response">
    <ul>
        <li>
            Closest location: {{ responseDescription }}
        </li>
        <li>
            Distance from location: {{ responseDistance }}
        </li>
        <li>
            Address: {{ responseAddress }}, {{ responseCity }}, {{ responseState }} {{ responseZip }}, {{ responseCountry }}
        </li>
        <li>
            Phone: {{ responsePhone }}
        </li>
        <li>
            Hours of operation: {{ responseHours }}
        </li>
    </ul>
    

</div>
